@import "../components/variables.scss";

.svg-bar-chart {
  background: $white;
  overflow: hidden;
  margin-bottom: 1em;

  .chart {
    box-shadow: 0 0 0 1px $grey;
    margin: 1em auto;
    display: block;
  }

  .chart rect {
    fill: steelblue;
  }

  .chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }
}
